.card{
    width: 100px;
        /* Set the desired width of the parent div */
        height: 100px;
        /* Set the desired height of the parent div */
        position: relative;
        
}

img {
    width: 100%;
    /* Make the image width 100% of the parent div */
    height: 100%;
    /* Make the image height 100% of the parent div */
    object-fit: cover;
    /* Maintain the image's aspect ratio and cover the parent div */
}